-
  var roomList01 = [
    {img: 'sect_room/room-01/img-01.jpg',desc: '和ベッド（2100×2000mm）',},
    {img: 'sect_room/room-01/img-01.jpg',desc: 'hogehoge',},
    {img: 'sect_room/room-01/img-01.jpg',desc: 'fugafuga',},
    
    // {img: 'sect_room/room-01/img-01.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-02.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-03.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-04.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-05.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-06.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-07.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-08.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-09.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-10.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-11.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-12.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-13.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-14.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-15.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-16.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-17.jpg',desc: '',},
    // {img: 'sect_room/room-01/img-18.jpg',desc: '',},
  ];
  var roomList02 = [
    {img: 'sect_room/room-02/img-01.jpg',desc: 'hoge2',},
    {img: 'sect_room/room-02/img-01.jpg',desc: 'fuga2',},
    {img: 'sect_room/room-02/img-01.jpg',desc: '2',},
    
    // {img: 'sect_room/room-02/img-01.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-02.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-03.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-04.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-05.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-06.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-07.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-08.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-09.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-10.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-11.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-12.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-13.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-14.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-15.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-16.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-17.jpg',desc: '',},
    // {img: 'sect_room/room-02/img-18.jpg',desc: '',},
  ];
  var roomList03 = [
    {img: 'sect_room/room-03/img-01.jpg',desc: 'hoge',},
    {img: 'sect_room/room-03/img-01.jpg',desc: 'fuga',},
    {img: 'sect_room/room-03/img-01.jpg',desc: '3',},
    
    // {img: 'sect_room/room-03/img-01.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-02.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-03.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-04.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-05.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-06.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-07.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-08.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-09.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-10.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-11.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-12.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-13.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-14.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-15.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-16.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-17.jpg',desc: '',},
    // {img: 'sect_room/room-03/img-18.jpg',desc: '',},
  ];
